@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootswatch/dist/united/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/united/bootswatch";

$color_1: white;
$color_2: #b6c6cf;
$color_3: red;
$background-color: #772953;
$border-color: #772953;

html {
  scroll-behavior: smooth;
}

[class="container"] {
  max-width: 85% !important;
}

h2 {
  text-align: center;
}

td {
  vertical-align: middle !important;
}

.scroll-button {
  font-size: 25px;
  cursor: pointer;
  float: right;
  position: absolute;
  right: 0px;
  @extend .mx-5;
  @extend .my-2;
}

.finance-details-content {
  max-width: 75% !important;
  @extend .card-deck;
  @extend .flex-fill;
}

.btn-block {
  font-size: 1.5em !important;
  background-color: $background-color !important;
  border-color: $border-color !important;
  color: $color_1 !important;
  &:hover {
    color: $color_2 !important;
  }
}

.accordion-card {
  border: 0px !important;
  align-items: center;
  @extend .card;
}

form {
  width: 80%;
}

.form-text {
  color: $color_3;
}

input.ng-invalid.ng-touched {
  border: 1px solid $color_3;
}

.ngx-toastr {
  width: 400px !important;
}

.cdk-visually-hidden {
  display: none;
}
